In [6]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [11]:
df=pd.read_csv('kaggle/input/migration-to-new-zealand-residence-and-work//ITM553001_20231103_085031_7.csv', engine='python')

In [3]:
df.head()

,"Estimated migrant arrivals by citizenship, visa type and CLPR, 12/16-month rule (Monthly)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96
0,NaN,Arrivals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,Non-New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,Residence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,,United Arab Emirates,NaN,Australia,NaN,Canada,NaN,"China, People's Republic of",NaN,Germany,...,Viet Nam,NaN,Samoa,NaN,South Africa,NaN,Not Stated,NaN,Total All Countries of Last Permanent Residence,NaN
4,,Estimate,Standard error of estimate,Estimate,Standard error of estimate,Estimate,Standard error of estimate,Estimate,Standard error of estimate,Estimate,...,Estimate,Standard error of estimate,Estimate,Standard error of estimate,Estimate,Standard error of estimate,Estimate,Standard error of estimate,Estimate,Standard error of estimate